{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les derniers articles :D</h1>
    
    {% for article in articles %}
        {% if article.online == 1  %}
        <div>
            <a style="font-size:20px;" href="{{path('show',{'id':article.id}) }}">{{ article.title }}</a>
            <br/>
            <iframe width="100%" height="450" src="{{article.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Description : {{article.description}}</p>
            <p>Category : {{article.category}}</p>
            <a class="but green" style="font-size:20px;" href="article/{{article.id}}/edit">Modification</a>
            <a class="but red" style="font-size:20px;" href="article/{{article.id}}/delete">Supprimer</a>
            <hr/>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
