<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
    <div class="header">
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('inscription') }}">Inscription</a>
        <a href="{{ path('connection') }}">Connection</a>
        <a href="{{ path('upload_article') }}">Creer Article</a>
    </div>
    <style>
    html,body{
        margin: 0;
        padding: 0;
    }
    .header{
        padding : 15px;
        background-color: #ececec;
        display: flex;
        justify-content: space-around;
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
    }
    .but{
        padding: 5px;
        color: black;
    }
    .green{
        border: #4f805d 5px solid;
    }
    .red{
        border: #b0413e 5px solid;
    }
    </style>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div style="background-color:red; color:white" class="flash-{{ label }}">
        {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
