{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Upload Articles</h1>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.url) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
</div>
{% endblock %}
